.inpustF1{
    margin: 20px;
    width: 25vw;
}
.button-row {
    display: table-cell;
    max-width: 600px;
}
.btne{
    margin: 20px;
}

mat-card-actions{
    
    display: flex;
    justify-content: center;
    align-items: center; 
}