#formc{
    margin: 20px;
}

.btne{
    max-width: 800px;
    margin: 50px;
   
}

mat-card-actions{
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

.rowe{
    border: 1px solid; padding: 20px; margin: 20px; text-align: left;
}