
<mat-grid-list cols="4" >

  <mat-grid-tile  *ngFor="let item of datos" >
    <mat-card class="example-card">
      <mat-card-header>
        
        <mat-card-title>{{item.Name}}</mat-card-title>
   
       
      </mat-card-header>
      <img mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         Descripcion: {{item.Description}}
        </p>
        <h5> Precio: {{item.Price}}</h5>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-button (click)="detailMaterial(item.Id)"><mat-icon>informaation</mat-icon></button>
        <button mat-button>Canjear</button>
        
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

 


  

 

  