<div class="title-container">
  <h1>Materiales para canjear</h1>
</div>
<mat-grid-list cols="3" style="min-height: 84.15vh; ">
  <mat-grid-tile *ngFor="let item of datos">
    <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-content style=" height: 15px; margin-bottom: 8px;" class="custom-center" >
          <h3 style="text-transform: uppercase;">{{item.Name}}</h3></mat-card-content>
      </mat-card-header>
      
      <mat-card-header *ngIf="item.Color" [style.background-color]="item.Color" class="custom-card-header">
        <mat-card-header>
          
        </mat-card-header>
      </mat-card-header>
     
      <img  mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
      <mat-card-content style="margin: 25px 0px 5px 0px; text-align: left;">
        <p>
          Descripcion: {{item.Description}}
        </p>
        <p> Precio: {{item.Price}}</p>
      </mat-card-content>
      <mat-card-actions  >
        <button class="custom-button" mat-button (click)="detailMaterial(item.Id)"><mat-icon class="icon" >informacion</mat-icon></button>
        <button class="custom-button" mat-button>Canjear</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </mat-grid-tile>
</mat-grid-list>