
/*   .custom-card {  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-image {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%;
    max-width: 100px;
  }
  
  .header{
    background-color: #343440;
    margin: 2px;
    color: rgb(141, 240, 204);
 
  } */
  .example-card {
    max-width: 40vh;
    margin: 200px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .contenedorCard{
    display: flex;
    flex-direction: column;
  }