
.custom-button {
  color:  #4AD9A4; 
  border: none; 
  padding: 10px;
  cursor: pointer; 
  border-radius: 5px; 
}

.custom-button:hover {
  color: #ffffff;
  background-color: #3E8C76 
}
  .example-card {
    max-width: 300vh;
    margin: 90px;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  .contenedorCard{
    display: flex;
    flex-direction: column;
  }

  .title-container {
  
    color: #ffffff; /* Color del texto del título (ajusta el valor según tus preferencias) */
    text-align: center;
    padding: 15px; /* Ajusta el relleno según tus necesidades */
    margin: 10px;
  }
  
  h1 {
    margin: 0;
    width: 100%;
  }

  .custom-center {
    color:  #4AD9A4; 
    text-align: center;
    width: 100%; /* Opcional: para asegurarse de que ocupe el 100% del ancho */
    margin: 0;

  }
  
  .custom-card-header{
    height: 1px;
  }