<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos" class="info">
    <h2 mat-dialog-title color="primary" style="text-align: center;font-size: 50px;">{{ datos.Name }}</h2>
  
    <mat-dialog-content>
        <div class="row diagCon">
            <div class="col-6  dialogDivision1">
                <ul>
                    <li><strong>Provincia</strong>:  <p>{{ datos.Provincia }}</p></li>
                    <li><strong>Canton</strong>: {{ datos.Canton | currency : "USD" }}</li>
                    <li><strong>Distrito: </strong>{{datos.Distrito}}</li>
                    <li><strong>Numero</strong>{{datos.Numero}} </li>
                    <li><strong>Email</strong>{{datos.Email}} </li>
                    <li><strong>Horario de atencion</strong>{{datos.Schecudale}} </li>
                    <li><strong>Adminitrador</strong>{{datos.User.Name}} </li>
                  </ul>
            </div>
            <div class="col-6 dialogDivision2">
                <img id="imgDia" src="https://th.bing.com/th/id/OIG.q3e2QADAw3qonNEWSADa?pid=ImgGn">
            </div>
        </div>
       
        
       

    </mat-dialog-content>
  
    <mat-dialog-actions> </mat-dialog-actions>
  </div>
