<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos" class="info">
    
  
    <mat-dialog-content>
        
        <div class="row diagCon">
            
            <h2 mat-dialog-title color="primary" style="font-size: 50px;" [style.color]="datos.Color">{{ datos.Name }}</h2>
            <div class="col-6  dialogDivision1" style="border-left: 2px solid white;">
               
                <ul>
                    <li><strong>Descripcion</strong>:{{ datos.Description }}</li>
                    <li><strong>Precio</strong>: {{ datos.Price | currency : "USD" }}</li>
                    <li><strong>Unidad de compra: </strong>{{datos.Unit}}</li>
                    <li><strong>Centros de Reciclaje</strong>
                         <ul *ngIf="datos.RecicleCenter">
                            <li *ngFor="let item of datos.RecicleCenter">{{ item.Name }}</li>
                         </ul>
                    </li>
                  </ul>
            </div>
            <div class="col-6 dialogDivision2">
                <img id="imgDia" src={{datos.image}}>
            </div>
        </div>
       
        
       

    </mat-dialog-content>
  
    <mat-dialog-actions> </mat-dialog-actions>
  </div>