.diagCon {
    display: flex;
    align-items: center; 
  }
  
  .dialogDivision1 {
    flex: 1;
    padding-right: 0px;
    margin-right: 0px;
  }

  
.dialogDivision1 li {
    margin: 20px;
}

.color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px; /* Ajusta el margen según sea necesario */
  vertical-align: middle; /* Alinea verticalmente con el texto */
}
  
  .dialogDivision2 {
    flex: 1;
    max-width: 50%; /* Ajusta según tus necesidades para controlar el tamaño máximo de la imagen */
   
  }
  
  #imgDia {
    max-width: 100%; /* La imagen no será más grande que el contenedor div */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  

.example-card{
  background-color: #1B1C26;
  color: white;
}