
#contend{

  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2018/04/27/08/56/water-3354063_1280.jpg");
  background-repeat: no-repeat; /* Evita que la imagen se repita */
      background-size: cover;
     
   
}

.container-fluid{
  background-color: rgba(13, 13, 13, 0.8); 
  color: white;
}
.cover-container {
  position: relative;
  display: flex;
  align-items: center;
}



.text-overlay {
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  /* Fondo blanco transparente */
  color: #000;
  /* Color de texto negro */
  padding: 20px;
  /* Ajusta según tus necesidades */
  box-sizing: border-box;
  /* Para incluir el relleno en el cálculo del tamaño */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Sombreado en los bordes */
}


.text-large {
  font-size: 18px;
  /* Tamaño grande para el primer párrafo */
  margin-top: 15px;
  /* Margen superior mayor */
}

.text-medium {
  font-size: 14px;
  /* Tamaño mediano para el segundo párrafo */
  margin-top: 15px;
  /* Margen superior mediano */

  
}

.content-container {
  display: flex;
  align-items: center;
}

.image-container {
  flex-shrink: 0;
  margin-right: 30px;
}

.content-container2 {
  display: flex;
  align-items: center;
}

.image-container2 {
  flex-shrink: 0;
  margin-right: 20px;

}

.image-container3 {
  width: 20px;
  flex-shrink: 0;
  border-radius: 20px;

}

.cover-image__image {
  max-width: 100%;
  /* La imagen no será más ancha que el contenedor */

  max-height: 200px;
  /* Ajusta según tus necesidades para limitar la altura */

  border-radius: 50%;
  /* Hace que la imagen sea redonda */
  overflow: hidden;
}


.cover-image__image2 {
  max-width: 20px;
  /* La imagen no será más ancha que el contenedor */

  max-height: 20px;
  /* Ajusta según tus necesidades para limitar la altura */

  border-radius: 50%;
  /* Hace que la imagen sea redonda */
  overflow: hidden;
}



.example-card {
  max-width: 40vh;
  max-height: 50vh;
  background-color: #1B1C26;
}

.card img {
  width: 100%;
 height: 10%;
 
}

.contenedorCard {
  display: flex;
  flex-direction: column;
}

.title-container {

  color: #ffffff;
  /* Color del texto del título (ajusta el valor según tus preferencias) */
  text-align: center;
  padding: 15px;
  /* Ajusta el relleno según tus necesidades */
  margin: 10px;
}

h1 {
  margin: 0;
  width: 100%;
}

.custom-center {
  color: #4AD9A4;
  text-align: center;
  width: 100%;
  /* Opcional: para asegurarse de que ocupe el 100% del ancho */
  margin: 0;

}

.custom-card-header {
  height: 0.5px;
}









/*cENTER */


.center-text {
  /* Color del texto del título (ajusta el valor según tus preferencias) */
  text-align: center;
  /* Ajusta el relleno según tus necesidades */

  /* Ajusta el valor según tus necesidades */
}

.left-align {
  text-align: left;
}

.padding-content {
  padding: 30px;
  padding-bottom: 70px;

}

.padding-actions {
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}



.custom-card-header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  color: #4AD9A4;
}

.custom-button2 {
  color:  #4AD9A4; 
  border: none; 
  padding: 10px;
  cursor: pointer; 
  border-radius: 5px; 
}

.custom-button2 {
  color:  #4AD9A4; 
  border: none; 
  padding: 10px;
  cursor: pointer; 
  border-radius: 5px; 
}

.custom-button2:hover {
  color: #1B1C26;
  background-color: #3E8C76 
}


.white-text {
  color: white;
 
}


.tittle{
  color: #000;
}

.content-container {
  border-top: 1px solid #ffffff; /* Border above mat-card-content */
  border-bottom: 1px solid  #ffffff; /* Border below mat-card-content */
  padding: 0px; /* Optional: Add padding for better visual separation */
}

.info-container {
  border-bottom: 1px solid #ccc; /* Border between icon and information */

}

/* Add additional styles if needed */
.flex-end {
  display: flex;
  justify-content: flex-end;
}


