<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
 <div class="container">
    <div class="info" id="diag">
    
        
        <mat-dialog-content   class="row">
            <h1 style="text-align: center; font-size: 30px; font-weight: bold;">{{TitleForm}}</h1>
            <div class="col-4" style="width: 40%;">
                <img style="height: 80%; width: 80%;"
                src="https://www.freeiconspng.com/thumbs/login-icon/user-login-icon-14.png">
              </div>
          
              <div class="col-8" style="width: 60%;">
                <form form [formGroup]="UserForm" enctype="multipart/form-data">
                  <input type="hidden" formControlName="id" />
                  <mat-card>
                    <mat-card-header style="text-align: center;">
                      <h2>Información del Usuario</h2>
                    </mat-card-header>
                    <mat-card-content class="container">
          
                      <div class="row rowe ">
                        
                        <mat-form-field class="col-12">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="Email" maxlength="60" placeholder="Correo Electronico">
                          <mat-error *ngIf="errorHandling('Password','required')">
                            La identificación es <strong>requerido</strong>
                          </mat-error>
                        </mat-form-field>
          
                        <mat-form-field class="col-12">
                          <mat-label>Contraseña Actual</mat-label>
                          <input matInput formControlName="Password" maxlength="60" placeholder="Contraseña Actual">
                          <mat-error *ngIf="errorHandling('NewPassword','required')">
                            El Nombre es <strong>requerido</strong>
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-12">
                            <mat-label>Nueva Contraseña</mat-label>
                            <input matInput formControlName="NewPassword" maxlength="60" placeholder="Nueva Contraseña">
                            <mat-error *ngIf="errorHandling('NewPassword','required')">
                              El Nombre es <strong>requerido</strong>
                            </mat-error>
                          </mat-form-field>
          
                       
                        <div class="col-12" style="margin: 15px;">
                            <button style="width:30%;" mat-raised-button color="accent" (click)="submitForm()">Guardar</button>
                          </div>
                    
                      </div>
          
                     
                    </mat-card-content>
                  </mat-card>
                </form>
              </div>
          
            
           
    
        </mat-dialog-content>
      
        <mat-dialog-actions> </mat-dialog-actions>
      </div>
 </div>
