.mi-combobox {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  margin: 10px;
  /* Ajusta los márgenes según tus necesidades */
  padding: 5px;
  /* Ajusta el relleno según tus necesidades */
  background-color:  #343440;
  /* Tu color primario aquí */
  ;
  color: #4AD9A4;
  /* Color del texto */
  ;
  /* Otros estilos que desees agregar */
}


#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button {
  color: #ffffff;
  background-color: #343440;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-button:hover {
  color: #4AD9A4; 
}

.cover-image__image2 {
  max-width: 20px;
  /* La imagen no será más ancha que el contenedor */

  max-height: 20px;
  /* Ajusta según tus necesidades para limitar la altura */

  border-radius: 50%;
  /* Hace que la imagen sea redonda */
  overflow: hidden;
}
