<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<h1>Mis cupones</h1>

<div class="container">
    
</div>

<div class="container">
    <div class="mat-elevation-z8" style="min-height: 76.75vh;">
        <table mat-table [dataSource]="datos" class="full-width-table" matSort aria-label="Elements">
          <!-- Nombre Column -->
          <ng-container matColumnDef="Numero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</th>
            <td mat-cell *matCellDef="let row">{{ row.Id}}</td>
          </ng-container>
      
          <!-- Nombre Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Centro de acopio</th>
            <td mat-cell *matCellDef="let row">{{ row.Name}}</td>
          </ng-container>
      
          <!-- Precio Column -->
          <ng-container matColumnDef="Valido hasta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de canje</th>
            <td mat-cell *matCellDef="let row">{{ row.ValiteDate }}</td>
          </ng-container>
          <!-- Precio Column -->
        
          <!-- Acciones Column -->
          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
      
              <button mat-mini-fab color="accent" matTooltip="Detalle Canje" aria-label="Detalle Canje" class="custom-button"
                (click)=" detailCanje(row.Id)">
                <mat-icon class="mat-18">info</mat-icon>
              </button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="'header-row'"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      
        <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="3"
          [pageSizeOptions]="[3, 5, 10]" aria-label="Seleccione una página">
        </mat-paginator>
    </div>
</div>