
.center-text {
  /* Color del texto del título (ajusta el valor según tus preferencias) */
  text-align: center;
  /* Ajusta el relleno según tus necesidades */

  /* Ajusta el valor según tus necesidades */
}

.left-align {
  text-align: left;
}

.padding-content {
  padding: 30px;
  padding-bottom: 70px;

}

.padding-actions {
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}



.custom-card-header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  color: #4AD9A4;
}

.custom-button2 {
  color:  #4AD9A4; 
  border: none; 
  padding: 10px;
  cursor: pointer; 
  border-radius: 5px; 
}

.custom-button2 {
  color:  #4AD9A4; 
  border: none; 
  padding: 10px;
  cursor: pointer; 
  border-radius: 5px; 
}

.custom-button2:hover {
  color: #1B1C26;
  background-color: #3E8C76 
}


.white-text {
  color: white;
 
}

.example-card {
  max-width: 40vh;
  max-height: 50vh;
  background-color: #1B1C26;
}

.tittle{
  color: #000;
}

.content-container {
  border-top: 1px solid #ffffff; /* Border above mat-card-content */
  border-bottom: 1px solid  #ffffff; /* Border below mat-card-content */
  padding: 0px; /* Optional: Add padding for better visual separation */
}

.info-container {
  border-bottom: 1px solid #ccc; /* Border between icon and information */

}

/* Add additional styles if needed */
.flex-end {
  display: flex;
  justify-content: flex-end;
}


/* styles.css o styles.scss */
/* styles.css o styles.scss */

.search-container {
  width: 300px; /* Ancho del contenedor, ajusta según tus necesidades */
  margin: auto; /* Centrar horizontalmente */
  padding: 20px; /* Ajusta según tus necesidades (márgenes internos) */
  border: 1px solid #ccc; /* Ajusta según tus necesidades */
  border-radius: 5px; /* Ajusta según tus necesidades */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.search-container p {
  margin-bottom: 10px; /* Ajusta según tus necesidades */
}




