

.center-text {
  /* Color del texto del título (ajusta el valor según tus preferencias) */
    text-align: center;/* Ajusta el relleno según tus necesidades */
   
   /* Ajusta el valor según tus necesidades */
}

.left-align {
  text-align: left;
}

.padding-content {
  padding: 20px;
  padding-bottom: 70px;

}

.padding-actions {
  padding: 10px; 
  /* Ajusta el valor según tus necesidades */
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}



.custom-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; 
  padding: 10px; 
  color:  #4AD9A4;
}

.custom-button {
  color:  #4AD9A4; 
  border: none; 
  padding: 10px;
  cursor: pointer; 
  border-radius: 5px; 
}

.custom-button:hover {
  color: #1B1C26;
  background-color: #3E8C76 
}


.example-card {
  max-width: 500vh;
  margin: 90px;
  background-color: #1B1C26;
}

.content-container {
  border-top: 1px solid #ffffff; /* Border above mat-card-content */
  border-bottom: 1px solid  #ffffff; /* Border below mat-card-content */
  padding: 10px; /* Optional: Add padding for better visual separation */
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.border-container {
  text-align: center; /* Center the content horizontally */
}

.custom-card-header2 {
  color:  #4AD9A4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;

}

